DATABASE_URL="postgresql://postgres:prisma@psql:5432/postgres?schema=public"
POSTGRES_DB=postgres 
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=prisma

JWT_SECRET="sample-secret"
#GEMINI_API_KEY="YOUR_KEY" 